# Application

NODE_ENV=development

APP_PORT=3000
APP_HOST=0.0.0.0

CORS_ORIGIN=*

# Database (PostgreSQL)

DB_HOST=olho_dagua_db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=olho_dagua

# Prisma connection string

DATABASE_URL=postgresql://postgres:postgres@olho_dagua_db:5432/olho_dagua

# Mosquitto

MQTT_BROKER_URL=mqtt://mosquitto:1883
MQTT_USER=admin
MQTT_PASSWORD=senhasegura321

# MQTT Topics

MQTT_TOPIC_PREFIX=olho_dagua

MQTT_TEMPERATURE_TOPIC=olho_dagua/+/temperature
MQTT_CONSUME_TOPIC=olho_dagua/+/consume
MQTT_FILTER_TOPIC=olho_dagua/+/filter

